<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Panel Admin - Tienda ORCA</title>
    <link rel="stylesheet" href="/css/estilo.css">
</head>
<body>
    <div class="container">
        <h1>Panel de Administración</h1>
        
        <nav>
            <a th:href="@{/index}">🏠 Menú</a> | 
            <a th:href="@{/logout}">Cerrar Sesión</a>
        </nav>
        
        <h2>Gestión de Pedidos</h2>
        <p>Aqui vas a gestionar los pedidos.</p>
    </div>
</body>
</html>
