<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login - Tienda ORCA</title>
    <link rel="stylesheet" href="/css/estilo.css">
</head>
<body>
    <div class="login-container">
        <h2>Tienda ORCA</h2>
        
        <form th:action="@{/login}" method="post">
            <input type="hidden" name="_csrf" th:value="${_csrf.token}">
            <div th:if="${param.error}" class="error">
                Usuario o contraseña incorrectos
            </div>
            <div th:if="${param.logout}" class="success">
                Sesión cerrada correctamente
            </div>
            
            <input type="text" name="username" placeholder="Usuario" required>
            <input type="password" name="password" placeholder="Contraseña" required>
            
            <button type="submit">Entrar</button>
        </form>
    </div>
</body>
</html>